# Host *
#     IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

# # internal access

# Host aw-showcase
#     ProxyJump aw-syd1
#     HostName 10.85.2.174
#     User agriwebb

# Host aw-buildkite
#     HostName 115.64.50.130
#     Port 9001
#     User buildkite

# Host aw-syd1
#     HostName 115.64.50.130
#     Port 9002
#     User agriwebb

Host aw-syd1
    LocalForward 5901 localhost:5900