Host bastion.playground.agriwebb.io
  User jeffora
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/id_ed25519

Host bastion.staging.agriwebb.io
  User jeffora
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/id_ed25519

Host bastion.ops.agriwebb.io
  User jeffora
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/id_ed25519

Host bastion.agriwebb.io
  User jeffora
  StrictHostKeyChecking no
  IdentityFile ~/.ssh/id_ed25519

Host bastion-ops
  User ec2-user
  HostName ec2-52-65-227-231.ap-southeast-2.compute.amazonaws.com
  IdentityFile ~/.ssh/bastion-ops.pem

Host buildkite-ops
  User ec2-user
  HostName ip-10-100-130-69.ap-southeast-2.compute.internal
  IdentityFile ~/.ssh/bastion-ops.pem
  ProxyCommand ssh bastion-ops -W %h:%p
