# Host agriwebb-office-build
#   User agriwebb
#   HostName 115.64.50.130
#   Port 9001

# Host agriwebb-office-m1-build
#   User buildkite
#   HostName 115.64.50.130
#   Port 9002
#   LocalForward 5900 localhost:5900

# Host agriwebb-office-showcase-build
#   User agriwebb
#   HostName 10.85.2.174
#   ProxyJump buildkite@115.64.50.130:9002
#   LocalForward 5901 localhost:5900
